body {
	background: black;
}
* {
	border: 1px dashed red;
	min-height: 10px;
}
p {
	color: black;
	
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 300px;
	margin: 20px;
}
.postcard-body {
	display: flex;
}
.body-left p {
	margin-top: none;
	font-size: 15px;
}
.body-right {
	padding: x;
	font-size: 15px;
}
input {
	margin-bottom: 15px;
	border: none;
	border-bottom: 1px solid grey;
	margin: 10px;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: gainsboro;
	padding: 5px;
}
